.diagram-panel {
  height: 100%;
  width: 100%;
  background-color: var(--color-primary);
  border-left: 1px solid var(--color-primary);
  border-right: 1px solid var(--color-primary);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
