build
node_modules
gen
faust-ast/FaustLexer.tokens
faust-ast/node_modules
faust-ast/build
faust-ast/generated
faust-ast/yarn-error.log
faust-ast/faust-libraries
faust-ast/out
yarn-error.log
.idea
**/*.DS_Store