.dsp-ui {
  height: 100%;
  max-width: calc(100vw - 85px);
  width: calc(100vw - 85px);

  overflow: auto;


  .dsp-ui-header {
    height: 32px;
    background-color: var(--color-tertiary);

  }

  & > .react-transform-component {
    height: calc(100% - 32px);
    display: flex;
    overflow: visible;
    max-width: calc(100vw - 85px);
  }
}