.ui-group {
  border: 1px solid var(--color-secondary);
  padding: 10px;
  margin: 5px;
  width: min-content;
  position: relative;
  flex-direction: column;

  .ui-group-label {
    background-color: var(--color-primary);
    padding: 0 5px 0 5px;
    position: relative;
    top: -18px;
    width: fit-content;
    margin-bottom: -8px;
  }

  .ui-group-items {
    display: flex;
  }

  &.vgroup {
    & > .ui-group-items {
      flex-direction: column;
    }
  }

  &.hgroup {
    & > .ui-group-items {
      flex-direction: row;
    }
  }
}
