.sidebar {
  background-color: var(--color-tertiary);
  width: 57px;
  max-width: 57px;
  min-width: 57px;
  height: 100%;

  display: flex;
  flex-direction: column;

  .sidebar-button {
    cursor: pointer;
    height: 57px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    &:hover {
      background-color: var(--color-quartiary);

      svg {
        fill: #e9edee;
      }
    }

    &.active {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 3px;
        background-color: var(--color-secondary);
        pointer-events: none;
      }

      background-color: var(--color-quartiary);
    }
  }
}
