.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;

  .checkbox-box {
    background-color: var(--color-tertiary);
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .checkbox-label {
    margin-left: 7px;
  }
}